<header class="three columns vitae-basic">
  <img src="{{ .Site.BaseURL }}img/{{ .Site.Params.avatar }}" class="me">
  <h1>{{ .Site.Params.author }}</h1>
  <p>
    <a href="tel:{{ .Site.Params.vitae.tel_full }}">{{ .Site.Params.vitae.tel }}</a>
  </p>
  <address>
    <a href="{{ .Site.Params.vitae.google_maps }}">
      {{ .Site.Params.vitae.address }}<br/>
      {{ .Site.Params.vitae.postcode }}<br/>
      {{ .Site.Params.vitae.city }}, {{ .Site.Params.vitae.country }}
    </a> <br/>
  </address>
  <p>
    <a href="{{ .Site.BaseURL}}/{{.Site.Params.vitae.resume_path}}">Complete Resume <i class="fa fa-download"></i></a>
  </p>
  <p>
    <a href="{{ .Site.Params.vitae.website_full }}">{{ .Site.Params.vitae.website }}</a>
  </p>
  <p>
    <a href="mailto:{{ .Site.Params.social.email }}">{{ .Site.Params.social.email }}</a>
  </p>
  <p>
    <a href="http://github.com/{{ .Site.Params.social.github }}"><i class="fa fa-github"></i>&nbsp;Github</a>
  </p>
</header>